<div class="container">

<h2>Heading 1</h2>
<svg class="blink_me" height="50" width="500">
  <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(255,0,0);stroke-width:2" />
</svg>
    <p>You probably haven't heard of them meh microdosing cronut. Helvetica keytar chia tofu chambray. 
      Live-edge marfa brooklyn drinking vinegar iPhone flannel tattooed gochujang. 
      Tbh edison bulb 8-bit sustainable quinoa activated charcoal lomo +1. Disrupt pinterest quinoa, flexitarian retro snackwave mlkshk. 
      Yr vexillologist letterpress lyft cardigan shoreditch YOLO pour-over roof party prism meggings VHS salvia bushwick.
      Artisan beard meditation, church-key shabby chic lo-fi flexitarian polaroid cred viral jean shorts try-hard.
      PBR&B small batch heirloom neutra schlitz. 
      Lomo unicorn iceland, locavore wayfarers hashtag gentrify messenger bag activated charcoal marfa XOXO salvia. 
      Pickled try-hard selfies salvia cliche quinoa forage, vice deep v. 
      Lumbersexual drinking vinegar pok pok, kale chips yr migas retro bicycle rights health goth. 
      Gentrify vaporware sustainable, gluten-free humblebrag deep v venmo woke unicorn tofu XOXO pop-up. 
      Pitchfork occupy cornhole four dollar toast retro church-key ramps tote bag cray jean shorts post-ironic messenger bag dreamcatcher try-hard. 
      Adaptogen shaman PBR&B pour-over disrupt, enamel pin paleo selfies af copper mug mumblecore. 
      Echo park bespoke leggings raw denim biodiesel chartreuse tumblr.</p>
</div>